* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0e8;
}

.col-1,
.col-2,
.col-3 {
    flex: 1;

    padding: 10px;
    margin: 10px;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.row {
    display: flex;
}

.alinear {
    display: flex;
    align-items: center;
}

.direc {
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;

    width: 1200px;

    margin: 0 auto;
    padding: 15px;
    justify-content: space-between;
}

main {
    display: flex;
    align-items: center;

    width: 1200px;

    margin: 0 auto;
    padding: 15px;
}

.imag {
    width: 160px;
}
.imag-1 {
    width: 20px;
}

.img-pro {
    width: 45px;
}

a {
    color: #0087ae;
    text-decoration: none;
}

.color {
    color: #979691;
}

.color-1 {
    color: #f1411d;
}

.color-2 {
    color: black;
}

.fon-1 {
    background-color: #f0f0e8;
    width: 270px;
}
.fon-2 {
    background-color: #f0f0e8;
}

.fon-3 {
    background-color: #ebebe2;
    width: 180px;
}

.tamaño {
    font-size: 40px;
}

.tama-1 {
    width: 200px;
}

.fondo {
    background-color: white;
}

.columna {
    display: flex;
    flex-direction: column;
}

.borde {
    border-top: solid 1px #d8d7cf;
}

.separar {
    padding: 3px;
}

.sep-1 {
    padding: 13px;
}
.sep-2 {
    padding-bottom: 20px;
}
.sep-ab {
    padding-bottom: 50px;
}
.sep-lad {
    padding-left: 20px;
}

footer {
    display: flex;
    align-items: center;
    border-top: solid 1px #d8d7cf;

    width: 1200px;

    margin: 0 auto;
    padding: 15px;
    justify-content: space-between;
}




/* .no {
    background-image: url(img/monitor.png);

    width: 300px;
    height: 
} */